Repository GoogleCloudPlatform/cloudml-samples, changes with the owners that CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/cloudml-samples-owners, @sirtorry, @happyhuman, @dizcology

fix: Change joblib import to top-level (#498)
  sklearn/notebooks/census_training/train.py
Owners: @happyhuman

chore: convert default branch pointers to main
  .kokoro/tests/run_tests.sh
  census/README.md
  census/tf-keras/README.md
  notebooks/keras/TextClassificationUsingKerasAndCMLE.ipynb
  notebooks/pytorch/TextClassificationUsingPyTorchAndCMLE.ipynb
  notebooks/scikit-learn/custom-pipeline.ipynb
  notebooks/scikit-learn/custom-prediction-routine-scikit-learn.ipynb
  notebooks/tensorflow/custom-prediction-routine-keras.ipynb
  notebooks/tensorflow/getting-started-keras.ipynb
  penguins/tf-keras/README.md
  pytorch/notebooks/Serving PyTorch Models with CMLE  Custom Prediction Code.ipynb
  tpu/templates/README.md
  tpu/templates/tools/README_BASE.md
  tpu/templates/tools/readme_gen.py
  tpu/templates/tools/sub_readme_gen.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners, @sirtorry, @happyhuman, @dizcology

fix: Remove python3.9 Kokoro support because of tensorflow incompatibility
  .kokoro/python3.9/common.cfg
  .kokoro/python3.9/continuous.cfg
  .kokoro/python3.9/periodic.cfg
  .kokoro/python3.9/presubmit.cfg
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): add renovate.json
  renovate.json
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): add renovate.json (#513)
  renovate.json
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency box2d-py to v2.3.8
  tensorflow/standard/reinforcement_learning/rl_on_gcp_demo/requirements.txt
  tensorflow/standard/reinforcement_learning/rl_on_gcp_demo/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

fix: Updated SAVED_MODEL_PATH and comment
  notebooks/tensorflow/getting-started-keras.ipynb
Owners: @sirtorry

fix: Updated SAVED_MODEL_PATH and comment (#517)
  notebooks/tensorflow/getting-started-keras.ipynb
Owners: @sirtorry

fix: Change bucket path logic in data_utils.py
  pytorch/containers/hp_tuning/data_utils.py
Owners: @sirtorry

fix: Change bucket path logic in data_utils.py (#518)
  pytorch/containers/hp_tuning/data_utils.py
Owners: @sirtorry

Exclude TensorFlow from Renovate updates
  renovate.json
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency pip to v9.0.3
  census/tftransformestimator/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update python docker tag to v2.7.16
  pytorch/containers/quickstart/mnist/Dockerfile
Owners: @sirtorry

Exclude TensorFlow from Renovate updates (#519)
  renovate.json
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency box2d-py to v2.3.8 (#515)
  tensorflow/standard/reinforcement_learning/rl_on_gcp_demo/requirements.txt
  tensorflow/standard/reinforcement_learning/rl_on_gcp_demo/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore: Update package exclusion in renovate.json
  renovate.json
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency absl-py to v0.15.0
  cloudml-template/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore: Update package exclusion in renovate.json (#524)
  renovate.json
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update python docker tag to v2.7.16 (#521)
  pytorch/containers/quickstart/mnist/Dockerfile
Owners: @sirtorry

chore(deps): update dependency pip to v9.0.3 (#520)
  census/tftransformestimator/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency cloud-tpu-profiler to v1.15.0
  tpu/utils/input_fn_tuning/requirements.txt
Owners: @dizcology

chore(deps): update dependency cloud-tpu-profiler to v1.15.0 (#526)
  tpu/utils/input_fn_tuning/requirements.txt
Owners: @dizcology

Exclude major version updates for TensorFlow and Python
  renovate.json
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency absl-py to v0.15.0 (#523)
  cloudml-template/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Exclude major version updates for TensorFlow and Python (#527)
  renovate.json
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore: Added more packages to exclude major udpates
  renovate.json
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore: Added more packages to exclude major udpates (#530)
  renovate.json
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency google-api-python-client to v1.12.8
  tpu/utils/input_fn_tuning/requirements.txt
  tpu/utils/survival/requirements.txt
Owners: @dizcology

chore(deps): update dependency google-api-python-client to v1.12.8 (#529)
  tpu/utils/input_fn_tuning/requirements.txt
  tpu/utils/survival/requirements.txt
Owners: @dizcology

chore(deps): update dependency future to v0.18.2
  census/keras/requirements.txt
  census/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency future to v0.18.2 (#528)
  census/keras/requirements.txt
  census/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency apache-beam to v2.34.0
  census/tftransformestimator/requirements.txt
  census/tftransformestimator/setup.py
  cloudml-template/requirements.txt
  molecules/requirements.txt
  molecules/setup.py
  tensorflow/standard/legacy/flowers/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency apache-beam to v2.34.0 (#525)
  census/tftransformestimator/requirements.txt
  census/tftransformestimator/setup.py
  cloudml-template/requirements.txt
  molecules/requirements.txt
  molecules/setup.py
  tensorflow/standard/legacy/flowers/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update chainer/chainer docker tag to v5.4.0
  chainer/containers/quickstart/mnist/Dockerfile
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update chainer/chainer docker tag to v5.4.0 (#522)
  chainer/containers/quickstart/mnist/Dockerfile
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency tensorflow-gpu to v1.15.5
  tensorflow/standard/reinforcement_learning/rl_on_gcp_demo/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency tensorflow-gpu to v1.15.5 (#531)
  tensorflow/standard/reinforcement_learning/rl_on_gcp_demo/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency tensorflow-transform to v0.30.0
  census/tftransformestimator/requirements.txt
  census/tftransformestimator/setup.py
  molecules/requirements.txt
  molecules/setup.py
  tensorflow/standard/legacy/criteo_tft/requirements.txt
  tensorflow/standard/legacy/criteo_tft/setup.py
  tensorflow/standard/legacy/movielens/setup.py
  tensorflow/standard/legacy/reddit_tft/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency tensorflow-transform to v0.30.0 (#533)
  census/tftransformestimator/requirements.txt
  census/tftransformestimator/setup.py
  molecules/requirements.txt
  molecules/setup.py
  tensorflow/standard/legacy/criteo_tft/requirements.txt
  tensorflow/standard/legacy/criteo_tft/setup.py
  tensorflow/standard/legacy/movielens/setup.py
  tensorflow/standard/legacy/reddit_tft/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency tensorflow-model-analysis to v0.36.0
  cloudml-template/requirements.txt
  cloudml-template/template/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Our Global Owners: @happyhuman @dizcology @sirtorry @andrewferlitsch
*       @GoogleCloudPlatform/cloudml-samples-owners

/notebooks/keras @sirtorry
/notebooks/pytorch @sirtorry
/notebooks/scikit-learn @happyhuman
/notebooks/tensorflow @sirtorry
/notebooks/xgboost @happyhuman
/pytorch @sirtorry
/sklearn @happyhuman
/tools @dizcology
/tpu @dizcology
/xgboost @happyhuman
*.md @sirtorry
