Repository GoogleCloudPlatform/cloudml-samples, changes with the owners that CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/cloudml-samples-owners, @sirtorry, @happyhuman, @dizcology

chore(deps): update dependency tensorflow-model-analysis to v0.36.0 (#532)
  cloudml-template/requirements.txt
  cloudml-template/template/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency tensorflow-transform to v1
  census/tftransformestimator/requirements.txt
  census/tftransformestimator/setup.py
  molecules/requirements.txt
  tensorflow/standard/legacy/criteo_tft/requirements.txt
  tensorflow/standard/legacy/criteo_tft/setup.py
  tensorflow/standard/legacy/movielens/setup.py
  tensorflow/standard/legacy/reddit_tft/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency tensorflow-transform to v1 (#534)
  census/tftransformestimator/requirements.txt
  census/tftransformestimator/setup.py
  molecules/requirements.txt
  tensorflow/standard/legacy/criteo_tft/requirements.txt
  tensorflow/standard/legacy/criteo_tft/setup.py
  tensorflow/standard/legacy/movielens/setup.py
  tensorflow/standard/legacy/reddit_tft/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency pandas to v1
  census/keras/requirements.txt
  census/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency pandas to v1 (#536)
  census/keras/requirements.txt
  census/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency six to v1.16.0
  tensorflow/standard/legacy/criteo_tft/requirements.txt
  tensorflow/standard/legacy/movielens/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency six to v1.16.0 (#537)
  tensorflow/standard/legacy/criteo_tft/requirements.txt
  tensorflow/standard/legacy/movielens/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency pip to v21
  census/tftransformestimator/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency pip to v21 (#539)
  census/tftransformestimator/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency tensorflow to v1.15.5
  cloudml-template/requirements.txt
  cloudml-template/template/setup.py
  molecules/requirements.txt
  molecules/setup.py
  tensorflow/standard/boston/requirements.txt
  tensorflow/standard/imdb/requirements.txt
  tensorflow/standard/iris/requirements.txt
  tensorflow/standard/legacy/criteo_tft/requirements.txt
  tensorflow/standard/legacy/flowers/requirements.txt
  tensorflow/standard/legacy/movielens/setup.py
  tensorflow/standard/legacy/reddit_tft/setup.py
  tensorflow/standard/mnist/deprecated/requirements.txt
  tensorflow/standard/mnist/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency tensorflow to v1.15.5 (#535)
  cloudml-template/requirements.txt
  cloudml-template/template/setup.py
  molecules/requirements.txt
  molecules/setup.py
  tensorflow/standard/boston/requirements.txt
  tensorflow/standard/imdb/requirements.txt
  tensorflow/standard/iris/requirements.txt
  tensorflow/standard/legacy/criteo_tft/requirements.txt
  tensorflow/standard/legacy/flowers/requirements.txt
  tensorflow/standard/legacy/movielens/setup.py
  tensorflow/standard/legacy/reddit_tft/setup.py
  tensorflow/standard/mnist/deprecated/requirements.txt
  tensorflow/standard/mnist/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency google-api-python-client to v2
  tpu/utils/input_fn_tuning/requirements.txt
  tpu/utils/survival/requirements.txt
Owners: @dizcology

chore(deps): update dependency google-api-python-client to v2 (#538)
  tpu/utils/input_fn_tuning/requirements.txt
  tpu/utils/survival/requirements.txt
Owners: @dizcology

chore(deps): update dependency pyyaml to v3.13
  tpu/templates/tools/requirements.txt
Owners: @dizcology

chore(deps): update dependency pyyaml to v3.13 (#544)
  tpu/templates/tools/requirements.txt
Owners: @dizcology

chore(deps): update dependency h5py to v2.10.0
  census/keras/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency h5py to v2.10.0 (#540)
  census/keras/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update pytorch/pytorch docker tag to v1.2
  pytorch/containers/custom_container/Dockerfile
  pytorch/containers/hp_tuning/Dockerfile
Owners: @sirtorry

chore(deps): update chainer/chainer docker tag to v6
  chainer/containers/quickstart/mnist/Dockerfile
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update pytorch/pytorch docker tag to v1.2 (#549)
  pytorch/containers/custom_container/Dockerfile
  pytorch/containers/hp_tuning/Dockerfile
Owners: @sirtorry

chore(deps): update dependency setuptools to v39.2.0
  tensorflow/standard/boston/requirements.txt
  tensorflow/standard/imdb/requirements.txt
  tensorflow/standard/mnist/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency absl-py to v1
  cloudml-template/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency h5py to v3
  census/keras/requirements.txt
  census/keras/setup.py
  census/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency ipython to v7
  tools/requirements.txt
Owners: @dizcology

chore(deps): update dependency oauth2client to v4
  tpu/utils/input_fn_tuning/requirements.txt
  tpu/utils/survival/requirements.txt
Owners: @dizcology

chore(deps): update dependency pyyaml to v6
  tpu/templates/tools/requirements.txt
Owners: @dizcology

chore(deps): update dependency setuptools to v39.2.0 (#548)
  tensorflow/standard/boston/requirements.txt
  tensorflow/standard/imdb/requirements.txt
  tensorflow/standard/mnist/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency setuptools to v59
  tensorflow/standard/boston/requirements.txt
  tensorflow/standard/imdb/requirements.txt
  tensorflow/standard/mnist/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency setuptools to v59 (#556)
  tensorflow/standard/boston/requirements.txt
  tensorflow/standard/imdb/requirements.txt
  tensorflow/standard/mnist/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency redbaron to v0.9.2
  tpu/templates/tools/requirements.txt
Owners: @dizcology

chore(deps): update dependency redbaron to v0.9.2 (#545)
  tpu/templates/tools/requirements.txt
Owners: @dizcology

chore(deps): update dependency protobuf to v3.19.1
  tensorflow/standard/legacy/reddit_tft/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency protobuf to v3.19.1 (#543)
  tensorflow/standard/legacy/reddit_tft/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency scikit-optimize to v0.9.0
  tpu/utils/input_fn_tuning/requirements.txt
Owners: @dizcology

chore(deps): update dependency scikit-optimize to v0.9.0 (#547)
  tpu/utils/input_fn_tuning/requirements.txt
Owners: @dizcology

chore(deps): update dependency requests to v2.26.0
  tensorflow/standard/imdb/requirements.txt
  tensorflow/standard/imdb/setup.py
  tensorflow/standard/mnist/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency requests to v2.26.0 (#546)
  tensorflow/standard/imdb/requirements.txt
  tensorflow/standard/imdb/setup.py
  tensorflow/standard/mnist/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): pin dependencies
  census/customestimator/requirements.txt
  census/estimator/requirements.txt
  census/keras/requirements.txt
  census/requirements.txt
  census/tensorflowcore/requirements.txt
  census/tf-keras/requirements.txt
  census/tftransformestimator/requirements.txt
  penguins/tf-keras/requirements.txt
  sklearn/sklearn-template/template/requirements.txt
  tensorflow/standard/legacy/flowers/requirements.txt
  tools/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners, @happyhuman, @dizcology

chore(deps): update dependency keras to v2.7.0
  census/keras/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

chore(deps): update dependency keras to v2.7.0 (#542)
  census/keras/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Our Global Owners: @happyhuman @dizcology @sirtorry @andrewferlitsch
*       @GoogleCloudPlatform/cloudml-samples-owners

/notebooks/keras @sirtorry
/notebooks/pytorch @sirtorry
/notebooks/scikit-learn @happyhuman
/notebooks/tensorflow @sirtorry
/notebooks/xgboost @happyhuman
/pytorch @sirtorry
/sklearn @happyhuman
/tools @dizcology
/tpu @dizcology
/xgboost @happyhuman
*.md @sirtorry
