Repository GoogleCloudPlatform/cloudml-samples, changes with the owners that CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/cloudml-samples-owners, @gogasca, @nnegrey, @happyhuman, @dizcology

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Our Global Owners: @happyhuman @dizcology @nnegrey @sirtorry @andrewferlitsch @gogasca
*       @GoogleCloudPlatform/cloudml-samples-owners

/notebooks/keras @gogasca
/notebooks/pytorch @nnegrey
/notebooks/scikit-learn @happyhuman
/notebooks/tensorflow @gogasca
/notebooks/xgboost @happyhuman
/pytorch @nnegrey
/sklearn @happyhuman
/tools @dizcology
/tpu @dizcology
/xgboost @happyhuman
*.md @nnegrey

Remove link to flowers documentation
  tensorflow/standard/legacy/flowers/README.md
Owners: @nnegrey

Delete flowers.cfg
  testing/ubuntu/release/flowers.cfg
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Delete flowers.cfg
  testing/ubuntu/presubmit/flowers.cfg
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Adding r-on-gcp tutorials
  notebooks/R/01_EDA-with-R-and-BigQuery.ipynb
  notebooks/R/02-Training-Serving-TF-Models.ipynb
  notebooks/R/03-Training-Serving-CARET-Models.ipynb
  notebooks/R/README.md
  notebooks/R/src/caret/Dockerfile
  notebooks/R/src/caret/serving/Dockerfile
  notebooks/R/src/caret/serving/model_api.R
  notebooks/R/src/caret/serving/model_prediction.R
  notebooks/R/src/caret/training/Dockerfile
  notebooks/R/src/caret/training/model_trainer.R
  notebooks/R/src/tensorflow/model_trainer.R
Owners: @GoogleCloudPlatform/cloudml-samples-owners, @nnegrey

Update README.md
  notebooks/R/README.md
Owners: @nnegrey

Update README.md
  notebooks/R/README.md
Owners: @nnegrey

Update README.md
  notebooks/R/README.md
Owners: @nnegrey

Update README.md
  notebooks/R/README.md
Owners: @nnegrey

Update description
  notebooks/R/03-Training-Serving-CARET-Models.ipynb
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Update 03-Training-Serving-CARET-Models.ipynb
  notebooks/R/03-Training-Serving-CARET-Models.ipynb
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Update 03-Training-Serving-CARET-Models.ipynb
  notebooks/R/03-Training-Serving-CARET-Models.ipynb
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Add files via upload
  notebooks/R/01_EDA-with-R-and-BigQuery.ipynb
  notebooks/R/02-Training-Serving-TF-Models.ipynb
  notebooks/R/03-Training-Serving-CARET-Models.ipynb
Owners: @GoogleCloudPlatform/cloudml-samples-owners

typo fixed
  notebooks/R/README.md
Owners: @nnegrey

Cleanup
  notebooks/R/01_EDA-with-R-and-BigQuery.ipynb
  notebooks/R/02-Training-Serving-TF-Models.ipynb
  notebooks/R/03-Training-Serving-CARET-Models.ipynb
  notebooks/R/src/caret/training/model_trainer.R
  notebooks/R/src/tensorflow/model_trainer.R
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Update 03-Training-Serving-CARET-Models.ipynb
  notebooks/R/03-Training-Serving-CARET-Models.ipynb
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Cleanup
  notebooks/R/01_EDA-with-R-and-BigQuery.ipynb
  notebooks/R/02-Training-Serving-TF-Models.ipynb
  notebooks/R/03-Training-Serving-CARET-Models.ipynb
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Move Census to TF
  notebooks/tensorflow/census/customestimator/trainer/task.ipynb
  notebooks/tensorflow/census/estimator/trainer/task.ipynb
  notebooks/tensorflow/census/keras/trainer/task.ipynb
  notebooks/tensorflow/census/tensorflowcore/trainer/task.ipynb
Owners: @gogasca

Added cleanup step to remove unsupported characters in labels
  notebooks/scikit-learn/20_newsgroups_automl.ipynb
Owners: @happyhuman

Added cleanup step to remove unsupported characters in labels (#450)
  notebooks/scikit-learn/20_newsgroups_automl.ipynb
Owners: @happyhuman

Update census/tf-keras save_keras_model output
  census/tf-keras/trainer/task.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Update README.md
  README.md
Owners: @nnegrey

Use ai-platform directory within gs://cloud-samples-data for docs
  census/tf-keras/trainer/util.py
  notebooks/scikit-learn/custom-pipeline.ipynb
  notebooks/tensorflow/getting-started-keras.ipynb
  sklearn/notebooks/census_training/train.py
  xgboost/iris_training.py
  xgboost/notebooks/census_training/train.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners, @happyhuman, @gogasca

Use ai-platform directory within gs://cloud-samples-data for docs (#454)
  census/tf-keras/trainer/util.py
  notebooks/scikit-learn/custom-pipeline.ipynb
  notebooks/tensorflow/getting-started-keras.ipynb
  sklearn/notebooks/census_training/train.py
  xgboost/iris_training.py
  xgboost/notebooks/census_training/train.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners, @happyhuman, @gogasca

Update Tex Classification with PyTorch and CMLE Notebook
  notebooks/pytorch/Text Classification Using PyTorch and CMLE.ipynb
Owners: @nnegrey

Remove R Sample
  .DS_Store
  notebooks/.DS_Store
  notebooks/R/01_EDA-with-R-and-BigQuery.ipynb
  notebooks/R/02-Training-Serving-TF-Models.ipynb
  notebooks/R/03-Training-Serving-CARET-Models.ipynb
  notebooks/R/README.md
  notebooks/R/src/caret/Dockerfile
  notebooks/R/src/caret/serving/Dockerfile
  notebooks/R/src/caret/serving/model_api.R
  notebooks/R/src/caret/serving/model_prediction.R
  notebooks/R/src/caret/training/Dockerfile
  notebooks/R/src/caret/training/model_trainer.R
  notebooks/R/src/tensorflow/model_trainer.R
Owners: @GoogleCloudPlatform/cloudml-samples-owners, @nnegrey

Applyg new fixes to the Text classification tutorial using PyTorch
  .DS_Store
  notebooks/.DS_Store
  notebooks/pytorch/Text Classification Using PyTorch and CMLE.ipynb
Owners: @GoogleCloudPlatform/cloudml-samples-owners, @nnegrey

fix: security issue
  tensorflow/standard/legacy/flowers/setup.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners

fix: security issue
  census/tftransformestimator/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

fix: security issue
  census/keras/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Update Text Classification Using PyTorch and CMLE.ipynb
  notebooks/pytorch/Text Classification Using PyTorch and CMLE.ipynb
Owners: @nnegrey

fix vulnerability
  tensorflow/standard/legacy/flowers/requirements.txt
Owners: @GoogleCloudPlatform/cloudml-samples-owners

Fix variable interpolation, update Storage restriction
  notebooks/tensorflow/getting-started-keras.ipynb
Owners: @gogasca

Update Training and Prediction with XGBoost.ipynb
  notebooks/xgboost/Training and Prediction with XGBoost.ipynb
Owners: @happyhuman

Rename notebooks
  notebooks/keras/TextClassificationUsingKerasAndCMLE.ipynb
  notebooks/pytorch/TextClassificationUsing PyTorchAndCMLE.ipynb
  notebooks/pytorch/TrainingAndPredictionWithPyTorch.ipynb
  notebooks/scikit-learn/HyperparameterTuningWithScikitLearnInCMLE.ipynb
  notebooks/scikit-learn/OnlinePredictionWithScikitLearnInCMLE.ipynb
  notebooks/scikit-learn/TrainingAndPredictionWithScikitLearn.ipynb
  notebooks/scikit-learn/TrainingWithScikitLearnInCMLE.ipynb
  notebooks/xgboost/HyperparameterTuningWithXGBoostInCMLE.ipynb
  notebooks/xgboost/OnlinePredictionWithXGBoostInCMLE.ipynb
  notebooks/xgboost/TrainingAndPredictionWithXGBoost.ipynb
  notebooks/xgboost/TrainingWithXGBoostInCMLE.ipynb
Owners: @gogasca, @nnegrey, @happyhuman

Upgrade to TF 1.15
  census/README.md
  census/tf-keras/requirements.txt
  census/tf-keras/trainer/task.py
  census/tf-keras/trainer/util.py
  notebooks/tensorflow/getting-started-keras.ipynb
Owners: @nnegrey, @GoogleCloudPlatform/cloudml-samples-owners, @gogasca

Feedback from Alec
  notebooks/tensorflow/getting-started-keras.ipynb
Owners: @gogasca

Remove Hyper-parameter tuning cells
  notebooks/tensorflow/getting-started-keras.ipynb
Owners: @gogasca

Rename notebook
  notebooks/pytorch/TextClassificationUsingPyTorchAndCMLE.ipynb
Owners: @nnegrey

Delete TextClassificationUsing PyTorchAndCMLE.ipynb
  notebooks/pytorch/TextClassificationUsing PyTorchAndCMLE.ipynb
Owners: @nnegrey

Copy the "saved_model.pb" to "/variables"
  census/tf-keras/trainer/task.py
Owners: @GoogleCloudPlatform/cloudml-samples-owners
